<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <style>
      html {position: relative; min-height: 100%}
      body{margin-bottom: 60px}
      #page-footer{
          position: absolute;
          bottom: 0;
          width:100%;
          height: 60;
          line-height: 60px;
          background-color: #f5f5f5;
      }
  </style>
  <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <title>Final Project</title>
  {% comment %} TODO: 6. bootstrap 스타일을 적용해주세요	 {% endcomment %}
</head>
<body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Final Project skj</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                       <li class="active"><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'user_list' %}">user_list</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'register' %}">회원 가입 </a> </li>
                            <li><a href="{% url 'login' %}?next={{request.path}}">로그인</a></li>
                        {% else %}
                            <li><a href="#">{{user}}</a></li>
                            <li><a href="{% url 'logout' %}?next={{request.path}}">로그 아웃</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                  <ul>
                    <li>Hello {{list}}</li>
                  </ul>

            </div>            
        </div>
    </div>

    <div id="page-footer">
        <div class="container">
            <p class="text-muted">
 
            </p>
        </div>
    </div>
</body>
</html>
